@import './Variaveis.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body{
    background-color: $darkblue;
    font-family: 'Inter', sans-serif;
}
.main{
    display: flex;
    width: 100%;
}
.title{
    color:$textColor;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.4em;
    margin-bottom: 5%;
}


.desactive{
    display: none;
}
@media screen and (max-width: 768px) {
    .main{
        padding-top: 20%;
        flex-direction: column;
        width: 90%;
        margin: auto;
    }
}