@import './Variaveis.scss';
.menu{
    display: inline;
    width: 20%;
    margin: 0px;

    &__container{
        padding: 0 10%;
    }
    
    &__title{
        color:$textColor;
        font-family: Inter;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0.4em;
        margin-bottom: 10%;
    }
    &__nav{
        margin-left: 3%;
    }
    &__list{
        list-style: none;
        padding: 0px;
    }
    &__item{
        text-decoration: none;
        color:$textColor;
        font-family: Inter;
        font-size: 16px;
        line-height: 32px;
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        opacity: 0.56;

        &_img{
            width: 34px;
            height: 34px;
            padding: 5%;
            border-radius: 20px;
            margin-right: 5%;
            line-height: 18px;
        }
        &:hover {
            opacity: 1;
        }
        &:hover  > .menu__item_img{
            background-color: $alterBlue;
        }
        &:target> .menu__item_img{
            background-color: $blue;
        }
        &:focus > .menu__item_img{
            background-color: $solarblue;
        }
    }
}

.active {
    .menu{
        &__item{
            text-decoration: none;
            color:$textColor;
            font-family: Inter;
            font-size: 16px;
            line-height: 24px;
            display: flex;
            align-items: center;
            margin-bottom: 16px;
            opacity: 1;
    
            &_img{
                background-color: $blue;
                // border: 4px solid $blue;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .menu{
        display: none;

        &__nav{
            margin-top: 10px;
        }
        
        &__container{
            &-actived{
                position: fixed;
                height: 100%;
                width: 40%;
                right: 0%;
                margin-top: 10%;
                
            }
            &-desactived{
                display: none;
            }
            &-left{
                height: inherit;
                background-color: $menuCollapsed;
                border-radius: 10px;
            }
        }
        &__item{
            padding-left: 20px;
            padding-top: 10px;
            margin-bottom: 5px;

            &_line{
                display: block;
                opacity: 0.08;
                margin: auto;
                margin-bottom: 10px;
                width: 80%;
                border-top: 2px solid #FFFFFF
            }
        }
    }
    
    .active{
        border: 0px;
        margin-right: 10px;
        border-radius: 20px;
        opacity: 1;
        .menu__item{
            opacity: 1;
        }
    }
}

@media screen and (max-width: 768px) {
    .menu{
        display: none;

        &__nav{
            margin-top: 10px;
        }
        
        &__container{
            &-actived{
                position: fixed;
                height: 100%;
                width: 70%;
                right: 0px;
                margin-top: 10%;
                z-index: 1;
            }
            &-desactived{
                display: none;
            }
            &-left{
                height: inherit;
                background-color: $menuCollapsed;
                border-radius: 10px;
            }
        }
    }
    .active{
        display: block;
    }
}
