// Collors
$darkblue: #051D3B;
$blue: #5081FB;
$ligthblue: #7BA4FC;
$solarblue: #96B9FD;
$textColor: #FFF;
$codeContainer: #6BD1FF;
$danger: #FF5F56;
$atetion: #FFBD2E;
$sucess: #27C93F;
$backgroundColorDark:rgba(0, 0, 0, 0.16);
$backgroundColor:rgba(255, 255, 255, 0.16);
$menuCollapsed: rgba(0, 0, 0, 0.5);




//Text size
$titleSize: 32px;
$titleLine: 21px;
$bodySize: 24px;
$bodyLine: 16px;
$sidebarSize: 18px;
$sidebarLine: 24px;



 
